*, *::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Spartan", sans-serif;
    font-size: .7rem;
    
}

ul{
    list-style: none;
    
    
}

li{
    display: inline-block;
}

ul,li,a{
    text-decoration: none;
}

.flex{
    display: flex;
    
}